<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="partials">
      <%= image_tag @article.image.url(:large), class: 'width-max' %>
      <h1><%= @article.display_name %></h1>

  <% @contents.each do |content| %>
      <%= render "layouts/partials/#{content.partial}", value: content.value.html_safe, content: content %>
  <% end %>

  <h4 class="text-muted"><%= l @article.created_at, format: :custom %></h4>
</div>

<%= render template: 'tags/index', locals: {tags: @article.tags} %>
  </div>
</div>