<div class="home-partners text-center">
  <h2 class="text-primary home-title">Nos partenaires</h2>
  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-ms.png', class: 'logo-ms' %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-orange.jpg', class: 'logo-orange' %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-simplon.png', class: 'logo-sap' %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-sap.png', class: 'logo-sap' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-allianz.png', class: 'logo-allianz' %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-region-ile-de-france.png', class: 'logo-sap' %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo_fej.png', class: 'logo-sap' %>
    </div>
    <div class="col col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <%= image_tag 'logo-fondation-de-france.png', class: 'logo-fondation-de-france' %>
    </div>
  </div>
</div>